header {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;


  .headerSection {
    display: flex;
    max-width: 1140px;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;

    .LogoDiv {
      width: 20%;
      display: flex;
      justify-content: center;

      img {
        width: 75%;
      }
    }

    .PagesDiv {
      display: flex;
      align-items: center;
      width: 60%;

      ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
        list-style: none;
        font-size: 15px;
        font-weight: 600;
        gap: 5%;

        li {
          a {
            text-decoration: none;
          }

          cursor: pointer;
        }
      }
    }

    .ButtonDiv {
      width: 20%;

      .dropdown {

        .btn {
          width: 70%;
          text-decoration: none;
          display: flex;
          border: 1px solid white;
          align-items: center;
          justify-content: center;
          background-color: #3E7E3E;
        }


        ul {
          width: 70%;

          li {
            display: flex;
            width: 100%;
            justify-content: center;
            text-align: center;

            a {
              width: 100%;
              color: black;
            }
          }
        }
      }

      button {
        width: 45%;
        padding: 14px 10px;
        font-size: 15px;
        font-weight: 600;
      }
    }


    .link_github {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .link_get {
      padding: 0.5rem;
      border-radius: 9999px;
      border: 1px solid #224722;
      cursor: pointer;

      &:hover {
        color: #e7edde;
        background-color: #224722;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, -webkit-text-decoration-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    text-align: center;
    width: 100%;

    h1 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .headerSection {
      display: flex;
      justify-content: center;

      .LogoDiv {
        width: 50%;
      }

      .PagesDiv {
        display: none;
      }

      .ButtonDiv {
        display: none;

      }
    }
  }
}