.percent {
  max-width: 1140px;
  text-align: center;
  .percent_title {
    h2 {
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
    }
  }

  .percent_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h3 {
      font-size: 35px;
      font-weight: 800;
      display: block;
      margin-bottom: 5px;
    }

    p{
        line-height: 24px;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
    }
  }
}

@media (max-width: 768px){
  .percent{
    max-width: 200px;
    .percent_title{
      display: flex;
      flex-direction: column;
      h2{
        font-size: 25px;
        width: 100%;
      }
      p{
        font-size: 13px;
      }
    }
    .percent_info{
      display: none;
      // flex-direction: column;
      // justify-content: space-around;
    }
  }
}
