.Features {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  .div_main {
    max-width: 1140px;
    .Features_Cards {
      display: flex;
      flex-wrap: wrap;
      section {
        display: flex;
        flex: 0 0 auto;
        width: 33.3333333333%;
        .Card {
          width: 80%;
            svg{
              width: 40%;
              height: 40%;
            }
          }
          .card-title{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            margin: 0px;
            color: #081828;
          }
          .card-content {
            font-size: 15px;
            color: #888;
          }
        }
      }
    }
  }

