.hero_section {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  background: #3e7e3e;
  color: #ffff;
  padding: 16px;
  align-items: center;

  .heroDiv {
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .row {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .hero_textDiv {
        align-items: center;

        h1 {
          font-size: 38px;
          font-weight: 800;
          line-height: 50px;
          text-shadow: 0px 3px 8px #00000017;
        }

        p {
          width: 100%;
          margin-top: 30px;
          font-size: 15px;
        }
      }

      img {
        margin: 10px;
        width: 16%;
        height: auto;
      }

      .hero_imgDiv {
        display: flex;
        justify-content: center;

        img {
          width: 100%;
        }
      }

      .hero_storeApp {
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        gap: 5%;
        align-items: center;
        button {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          flex-direction: row;
          width: 34%;
          max-height: 50px;
          gap: 10px;
          .divButtonImg {
            display: flex;
            align-items: center;
            width: 20%;
            img {
              width: 80%;
            }
          }
          .divButtonName {
            display: flex;
            justify-content: center;
            width: 80%;

            text-align: center;
            font-size: 15px;
            font-weight: 600;
            align-items: center;
            text-align: center;
            span {
              align-items: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero_section {
    height: 110vh;
    .heroDiv {
      .row {
        display: flex;
        justify-content: center;
      }
      .hero_textDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        .hero_storeApp {
          display: none;
          justify-content: center;
          .divButtonImg {
            img {
              width: 100%;
            }
          }
        }
      }
      .hero_imgDiv {
        margin-top: -10%;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .heroDiv {
    margin-top: 0%;
    .hero_textDiv {
      width: 45%;
    }
    .hero_imgDiv {
      width: 50%;
    }
  }
}
