.FormRegister {
    background-color: #e7edde;
    font-family: 'Stella Nova', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    .container {
        width: 400px;
        text-align: center;
        
        img{
            position: absolute;
            width:3%;
            top: 0;
            left: 0;
        }
    }

    
    h2 {
        margin-top: 0;
    }
    
    .form-group {
        margin-bottom: 20px;
        text-align: left;
    }
    
    
    button:hover {
        background-color: #0056b3;
    }
}

