@import './header';
@import './about';
@import './footer';
@import './hero';
@import './form';
@import './overview';
@import './percent';
@import './accordion';


body{
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
}
// ::-webkit-scrollbar {
//     width: 0px;
// }